<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Edit User</h1>
    <form action="/users/<%= user._id %>" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>" required>
        <button type="submit">Update</button>
    </form>
    <a href="/users">Back to User List</a>
</body>
</html>
